html,
body {
  display: flex;
  flex-direction: column;
}

body {
  font-family: sans-serif;
}

header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  height: 1.7rem;
}

.search-field {
  width: 30%;
}
