html,
body {
  display: flex;
  flex-direction: column;
}

body {
  font-family: sans-serif;
}

header div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-logo {
  height: 1.7rem;
}

.search-field {
  height: 2.5rem;
  width: 30%;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 18px;
}
